<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Milcom.Properties.Settings.MilcomConnectionString" connectionString="server=79.133.35.169;user id=dea;password=dea123;persistsecurityinfo=True;database=piDea;allowuservariables=True;convert zero datetime=True; Allow Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="MilcomEntities" connectionString="metadata=res://*/MilcomModel.csdl|res://*/MilcomModel.ssdl|res://*/MilcomModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=79.133.35.169;user id=dea;password=dea123;persistsecurityinfo=True;database=piDea;allowuservariables=True;convertzerodatetime=True;allowzerodatetime=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>